section.comments.content__comments
	.l-content
		h2.title.title_wavy.comments__title Our clients say
		.comments-block.l-wrap
			.comments-block__item
				p.comments-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				.comments-block__author
					img(src="./img/avatars/avatar_0.jpg", alt="avatar").comments-block__avatar
					p.comments-block__signature Pavliv Yaroslav <span class= "comments-block__signature-prof">Web designer</span>

			.comments-block__item
				p.comments-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				.comments-block__author
					img(src="./img/avatars/avatar_1.jpg", alt="avatar").comments-block__avatar
					p.comments-block__signature John Scott <span class="comments-block__signature-prof">The Fringe</span>
