section.gallery.content__gallery
	.l-content
		h2.title.title_wavy.gallery__title Gallery
		.gallery-block.l-wrap.l-wrap_small
			.gallery-block__col.gallery-block__col_1
				img(src="./img/gallery/gallery_1.jpg" alt='selfi').gallery-block__img.gallery-block__img_1
				img(src="./img/gallery/gallery_2.jpg" alt='selfi').gallery-block__img.gallery-block__img_2
			.gallery-block__col.gallery-block__col_2
				img(src="./img/gallery/gallery_3.jpg" alt='selfi').gallery-block__img.gallery-block__img_3
				img(src="./img/gallery/gallery_4.jpg" alt='selfi').gallery-block__img.gallery-block__img_4
			.gallery-block__col.gallery-block__col_3
				img(src="./img/gallery/gallery_5.jpg" alt='selfi').gallery-block__img.gallery-block__img_5
				img(src="./img/gallery/gallery_6.jpg" alt='selfi').gallery-block__img.gallery-block__img_6
