section.jornal.content__jornal
	.l-content
		h2.title.title_wavy.jornal__title Our journal
		.jornal-block
			.jornal-block__item
				.jornal-block__img.jornal-block__img_1
				.jornal-block__discription.jornal-block__discription_1
					h3.title.jornal-block__title Love
					h4.title.jornal-block__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					p.text.jornal-block__text You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
					p.text.jornal-block__num 01
			.jornal-block__item
				.jornal-block__img.jornal-block__img_2.jornal-block__img_revers
				.jornal-block__discription.jornal-block__discription_2
					h3.title.jornal-block__title Tree
					h4.title.jornal-block__subtitle.jornal-block__subtitle_align_2 Lorem ipsum dolor sit amet, <span class="jornal-block__though">consectetur</span> adipisicing elit,
					p.text.jornal-block__text The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
					p.text.jornal-block__num 02
			.jornal-block__item.jornal-block__item_vertical
				.jornal-block__img.jornal-block__img_3
				.jornal-block__discription.jornal-block__discription_3
					h3.title.jornal-block__title Watter
					h4.title.jornal-block__subtitle.jornal-block__subtitle_align_3 Little Pieces of our proundness
					p.text.jornal-block__text What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
					p.text.jornal-block__num 03