.brands {
	position: relative;

	&::before {
		content: "";
		@include abs-cen;
		z-index: -1;
		max-width: 1920px;
		width: 100%;
		height: 100%;
		background-color: #f8f9fa;
	}
}

.brands-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: em(180, 16);

	&__img {
		background: no-repeat 0 0 / auto 100%;
		background: url("../img/brands/sprite-brands.png") no-repeat 0 0 / auto
			100%;

		&_0 {
			width: 80px;
			height: 24px;
			margin-left: em(21, 16);

			@media screen and (max-width: 567px) {
				width: 40px;
				height: 12px;
			}
		}

		&_1 {
			width: 38px;
			height: 34px;
			margin-left: em(21, 16);
			background-position-x: -113px;

			@media screen and (max-width: 567px) {
				width: 19px;
				height: 17px;
				background-position-x: -56.5px;
			}
		}

		&_2 {
			width: 80px;
			height: 28px;
			margin-left: em(21, 16);
			background-position-x: -124px;

			@media screen and (max-width: 567px) {
				width: 40px;
				height: 14px;
				background-position-x: -62px;
			}
		}

		&_3 {
			width: 80px;
			height: 18px;
			background-position-x: -131px;

			@media screen and (max-width: 567px) {
				width: 40px;
				height: 9px;
				background-position-x: -65.5px;
			}
		}

		&_4 {
			width: 80px;
			height: 24px;
			background-position-x: -281px;

			@media screen and (max-width: 567px) {
				width: 40px;
				height: 12px;
				background-position-x: -140.5px;
			}
		}

		&_5 {
			width: 70px;
			height: 26px;
			background-position-x: -392px;

			@media screen and (max-width: 567px) {
				width: 35px;
				height: 13px;
				background-position-x: -196px;
			}
		}
	}
}
