footer.footer
	.l-content
		.footer-block
			.footer-block__item
				p.footer-block__text All rights reserved 2015
			.footer-block__item.footer-block__item_2
				.socials.footer-block__socials
					a(href="#").socials__icon.socials__icon_tw
					a(href="#").socials__icon.socials__icon_fb
					a(href="#").socials__icon.socials__icon_vk
			.footer-block__item.footer-block__item_3
				p.footer-block__number 1 234 243 123
